<h2>Experience</h2>
<h3 class="justified_line">
  Developer
  <span>Apr 2018 to Present</span>
</h3>
<h4>BeSmartee &mdash; Huntington Beach, California</h4>
<p>
  <ul>
    <li>Integrated external vendors and services with the BeSmartee Mortgage platform</li>
    <li>Implemented major features on the Third Party Originator platform</li>
    <li>Wrote specifications for various features, improvements, and bugfixes</li>
    <li>Interacted with clients directly for requests, support, and feedback</li>
  </ul>
</p>
<h3 class="justified_line">
  Software Developer
  <span>Sep 2016 to Apr 2018</span>
</h3>
<h4>Suntisfy &mdash; Irvine, California</h4>
<p>
  <ul>
    <li>Implemented several software solutions to:
      <ul>
        <li>Consolidate warehouse inventory management systems, increasing efficiency</li>
        <li>Retrieve and store sales report data from Amazon MWS in a MySQL DB</li>
        <li>Create visualizations with tabled data using Google Charts API for business analysis</li>
      </ul>
    </li>
    <li>Wrote software specifications and requirements</li>
  </ul>
</p>
<hr>
