<h2>Experience</h2>
<hr>
  <h3 class="justified_line">
    Software Developer
    <span>[Month] [Year] to Present</span>
  </h3>
  <h4>[Company] &mdash; Irvine, California</h4>
  <p>
    <ul>
      <li>Researched possible solutions to the business's demands</li>
      <li>Implemented several software solutions in accordance with the business's needs</li>
      <li>Prepared reports for software specifications and requirements</li>
      <li>Transitioned development team to a version control system</li>
    </ul>
  </p>
<hr>
