<h2>Experience</h2>
<h3 class="justified_line">
  Junior Developer
  <span>Apr 2018 to Present</span>
</h3>
<h4>BeSmartee &mdash; Huntington Beach, California</h4>
<p>
  <ul>
    <li>Integrated external vendors and services with the BeSmartee Mortgage platform</li>
    <li>Implemented features on the TPO project</li>
    <li>Enhanced existing features and made some features configurable</li>
    <li>Interacted with clients directly for feedback and support</li>
  </ul>
</p>
<h3 class="justified_line">
  Software Developer
  <span>Sep 2016 to Apr 2018</span>
</h3>
<h4>Suntisfy &mdash; Irvine, California</h4>
<p>
  <ul>
    <li>Researched possible solutions to the business's demands</li>
    <li>Implemented several software solutions in accordance with the business's needs</li>
    <li>Prepared reports for software specifications and requirements</li>
    <li>Transitioned development team to a version control system</li>
  </ul>
</p>
<hr>
