<h2>Projects</h2>
<hr>
<div class="project">
  <h3 class="justified_line">
    [Project]
    <span>February 2017 to April 2017</span>
  </h3>
  <p>
    <ul>
      <li>
        Designed, programmed, and deployed a web app to record, update, and
        display business orders and information related to them in tabular format.
      </li>
      <li>
        Used Django, <a href="https://datatables.net/">DataTables</a>, and jQuery
      </li>
    </ul>
  </p>
</div>
<div class="project">
  <h3 class="justified_line">
    [Project]
    <span>November 2016 to February 2017</span>
  </h3>
  <p>
    <ul>
      <li>
        Designed, programmed, and deployed a web app that collects, analyzes,
        and presents multiple datapoints and visualizations
        relevant to the business's decision making process in eCommerce
      </li>
      <li>
        Used Python, a LAMP (Linux, Apache, MySQL, PHP) stack, the
        <a href="https://developers.google.com/chart/">Google Charts API</a>,
        and jQuery
      </li>
    </ul>
  </p>
</div>
<hr>
