---
---

@import "{{ site.theme }}";

hr {
  border: 0;
  outline: none;
  height: 2px;
  background: transparent url(../images/hr.gif) center center repeat-x;
  margin: 0 0 20px;
}

section {
  max-width:100%;
  margin-top: 20px;
}

section #title {
  margin: 0 0 25px 0;
}

.wrapper {
  max-width:75%;
}

.justified_line {
  font-weight: bold;
  text-align:left;
}

.justified_line span {
  float:right;
}

.skill_list {
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;
    overflow: hidden;

    li {
        margin: 0 0 0 50px;
        padding: 0 0 0 0px;
        float: left;
    }
}
